{
    "presets": [
        "@babel/preset-env", 
        "@babel/preset-react"
    ],
    "plugins" :[
        ["styled-components", { "ssr": false, "displayName": true} ],
        "@babel/plugin-proposal-object-rest-spread"
    ]
}